<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
	<h1>
		{{ .title }}
	</h1>

    <ul id="taskList">
        {{ range .tasks }}
            <li>
                {{ .Content }}
            </li>
        {{ end }}
    </ul>

    <label>Task:
        <input type="text" id="ajaxTextbox" />
    </label>
    <button id="ajaxButton" style="cursor: pointer; text-decoration: underline">
        Add
    </button>

    <script src="static/js/addItem.js"></script>

</body>
</html>

